force-app/main/default/flows/Subtask_Generator.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Convert_JSON_String_to_Subtasks</name>
        <label>Convert JSON String to Subtasks</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <actionName>SubtaskProcessorUtility</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_over_Subtasks</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>jsonString</name>
            <value>
                <elementReference>response</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SubtaskProcessorUtility</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>subtasks</assignToReference>
            <name>subtasks</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Process_Subtasks</name>
        <label>Process Subtasks</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>Subtask_Processor</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Convert_JSON_String_to_Subtasks</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:User_Story</name>
            <value>
                <elementReference>Get_User_Story</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Subtask_Processor</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>response</assignToReference>
            <name>promptResponse</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_subtasks</name>
        <label>Add to subtasks</label>
        <locationX>264</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>subtaskList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Map_prompt_response_to_Subtasks</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Subtasks</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <environments>Default</environments>
    <interviewLabel>Subtask Generator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subtask Generator</label>
    <loops>
        <name>Loop_over_Subtasks</name>
        <label>Loop over Subtasks</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <collectionReference>subtasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Map_prompt_response_to_Subtasks</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Processed_Subtasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_subtasks</name>
        <label>Create subtasks</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <inputReference>subtaskList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_User_Story</name>
        <label>Get User Story</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Process_Subtasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User_Story__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Processed_Subtasks</name>
        <label>Processed Subtasks</label>
        <locationX>176</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_subtasks</targetReference>
        </connector>
        <fields>
            <name>NoteBeforeProceeding</name>
            <fieldText>&lt;p&gt;Below is the List of subtask Agent was able to create. Please review before proceeding, Click Finish to create Subtasks.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SubtaskTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Subtask__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>subtaskList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-faea&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Task Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Description__c&quot;,&quot;guid&quot;:&quot;column-9f0c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Description&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_User_Story</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>Map_prompt_response_to_Subtasks</name>
        <label>Map prompt response to Subtasks</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Add_to_subtasks</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>Subtask__c</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>User_Story__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Name</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Loop_over_Subtasks.name</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Description__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Loop_over_Subtasks.description</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>response</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>subtaskList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Subtask__c</objectType>
    </variables>
    <variables>
        <name>subtasks</name>
        <apexClass>Subtask</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
